</main>
<footer>
  <div id="footer_container">
    <div id="footer-gauche">
      <p>Suivez-nous</p>
      <a href="#"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
    </div>
      <a href="/contact" id="contact">Contact</a>
  </div>  
      <p id="copyright">Morgane Gamory © 2022</p>
</footer>
</body>

</html>