<%- include('partials/header') %>
<div id="divError">
    <h2>Erreur 500 </h2>
    <p class="alert alert-warning" role="alert"><%= error %></p>
</div>


<%- include('partials/footer') %>
</body>
</html>