<%- include('partials/header') %>

<div id="imageIndex">
    <div id="imageIndexContainer">
        <h1 id="indexTitle">Breizhy</h1>
        <p id="indexDescription">Crêperie fictive à Maisons-Alfort</p>
    </div>
</div>

<section id="presentationIndex">
    <article id="presentationIndex__blocHistoire">
        <h2>La Crêperie <strong> Breizhy </strong></h2>
        <p>Venez découvrir des crêpes façon recettes traditionnelles pour les amoureux de la galette jambon fromage ou de la crêpe au sucre, mais aussi des crêpes originales aux saveurs exotiques toutes plus savoureuses les unes que les autres. Bon ne venez pas vraiment puisqu'il s'agit d'un projet personnel fictif ayant pour but de mettre en pratique certaines connaissances.</p>
    
    </article>

    <div id="presentationIndex__blocProduits">
        <p> NOUS ACCORDONS UN SOIN TOUT PARTICULIER À LA SÉLECTION DE NOS INGRÉDIENTS ET À LA FRAÎCHEUR DES PRODUITS. </p>
    </div>
    <article id="presentationIndex__platsevents">
        <h3>Une carte qui s'adapte</h3>
        <p>Retrouvez les plats uniques concoctés par notre chef à chaque période de l'année. </p>
        <img src="./img/crepe_noel.jpg" alt="crepes" class="presentationIndex__images">
        </div>
    </article>
    <article id="presentationIndex__coktails">
        <h3>Des cokatils faits maison</h3>
        <p>Frais, originaux et savoureux, nos coktails sortent tous de notre tête et de nos petites mains. </p>
        <img src="./img/coktails.jpeg" class="presentationIndex__images" alt="coktails maison">
        </div>
    </article>
    <section id="presentationIndex__horaires">
        <h4>Horaires</h4>
        <p> Lundi : Fermé </p>
        <p> Mardi : 19h-22h </p>
        <p> Mercredi : 12h-22h </p>
        <p> Jeudi : Fermé </p>
        <p> Vendredi : 19h-22h </p>
        <p> Samedi : 11h-23h </p> 
        <p> Dimanche : 11h-23h </p>

    </section>
    <article id="presentationIndex__adresse">
        <h4>L'adresse de la crêperie</h4>
        <p>Elle se situe dans la banlieue sud-est de Paris, à trois kilomètres de la capitale, sur la rive sud de la Marne. Son positionnement lui permet un accès rapide à plusieurs axes majeurs de communications franciliens : l'A4 & l'A86.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21023.665604357513!2d2.4224587252406393!3d48.801776391100304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67330223988ff%3A0x1fbb0bf00a0d995d!2sMaisons-Alfort!5e0!3m2!1sfr!2sfr!4v1671123354899!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="carteIndex"></iframe>
    </article>
</section>
<%- include('partials/footer') %>
    <script src="/js/contact.js"></script>
</body>
</html>