<%- include('partials/header') %>

<section>

    <h1>Envie de commander ?</h1>

    <p>Nous ne livrons que dans un rayon de 20 kilomètres autour du restaurant, pouvez-vous nous donner votre adresse ?</p>
    <form>
        <input>
    </form>
</section>

<%- include('partials/footer') %>
</body>
</html>