#containerGlobal{
    width: 70vw;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 14px;
}

/* Page de modif de la carte */
h2{
    text-align: center;
}
#modifContainer{
    grid-area: 3 / 2 / 16 / 8;
    border-right: 4px dotted var(--color4);
}

#addContainer{
    grid-area: 3 / 8 / 16 / 15;
}

.message{
    grid-area: 2 / 2 / 3 / 15;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    font-size: 1.3rem;
    
}

.validate{
    background-color: var(--color5);
}

.error{

    background-color: var(--color4);
}

.messageNoAdmin>p {
    margin: 0;
    justify-content: center;
    align-items: center;
}

form, select{
    width: 50%;
    margin: auto;
    text-align: center;
}

form > div {
    margin: 15px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid var(--color4);
    background-color: #eaeaea;
    transition: 0.4s;
}

input:focus, input:hover {

    border: none;
    border-bottom: 5px solid var(--color2);
    outline: none;
}

label {
    padding : 10px ;
    display: block;
}

select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eaeaea;
}


.button {
    padding : 15px ;
    text-align: center;
    margin-top: 10vh ;
    border-radius: 5px;
    background-color: var(--color4);
    border: none;
    color: var(--color3);
    font-size: large;
    font-weight: bold;
    transition: 0.25s;
}

.button:hover,
.button:focus {
  box-shadow: inset 0 0 0 2em var(--color2);
  border: none;
}

.petitDetail{
    font-size: 0.8rem;
    font-style: italic;
}

.checkbox {
    transform: scale(2);
}

.delDiv{
    margin-top: 50px;
    padding-bottom: 10px;
    border: 1px solid var(--color5);
}

fieldset{
    margin-top: 10vh;
}
#divIconesChoix{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#divIconesChoix > div {
    width: 40%;
    height: 40%;
}

.checkboxIcones{
    transform: scale(1.5);
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px var(--color4);
    color: var(--color2);
  }

  /* Page de l'historique des commandes */

  #containerGlobalHistory{
    width: 80vw;
    background-color: white;
    margin: auto;
    margin-top: 10vh;
    padding: 10vh;
  }

#containerCommands{
    background-color: #eaeaea;
    overflow-y: scroll;
    max-height: 90vh;
    margin: auto;

}

#containerCommands > table{
    border: 3px solid var(--color6);
    width: 100%;
    border-collapse: collapse;
}

#containerCommands thead {
    background-color: var(--color5);

}

th, td {
    padding: 10px;
}

#title{
text-align: center;
}

.contenuCommande{
    font-weight: 200;
    font-style: italic;
    padding-top: 0;
    border-bottom: 1px solid var(--color6);
}

#containerBouttonRecherche{
    font-size: 0.9rem;
    align-items: baseline;
}

#containerBouttonRecherche h2 {
    font-size: 1rem;
}

#containerBouttonRecherche form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
} 

#containerBouttonRecherche select{
    width: 15vh;
} 

.searchButton {
    margin:30px;
    border: none;
    text-decoration: none;
}

.searchButton:hover {
    border: none;
    text-decoration: none;
    color: white;
}