:root {
    --color1 : #cda364;
    --color2 : #c45b0c;
    --color3 : #fcf9ec;
    --color4 : #efc34f;
    --color5 : #8baec4;
    --color6 : #053d57;
  }
  /* Carte entière || Elements globaux */

#carteContainerGlobal{
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
    padding: 40px;
    background-color: white;
}

.carteContainer_topPart{

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.carteContainer_topPart_noplus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.carteContainer_nom{
    font-size: 1.3rem;

}
.carteContainer_nom, .carteContainer_prix{
    margin: 0;
}
.carteContainerList{
    width: 70vw;
    margin-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}

.carteContainer_icone{
    margin-right: 10px;
}
.carteContainer_recette{
    padding-top: 1vh;
    margin-bottom: 1vh;
}
.carteContainer_divIcones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2{
    margin-bottom: 5vh;
    border-radius: 5px;
    padding: 1vh;
}

.carteContainer_platContainer{
    margin-bottom: 3vh;
    width:30vw;
}

  /* Entrées */
#carteContainerEntree h2{
    border-left: 15px solid var(--color2);
}

#carteContainerEntree .carteContainer_topPart{
    border-bottom: 2px dashed var(--color2);
}
#carteContainerEntree h3::first-letter, #carteContainerEntree .fa-plus{
    color : var(--color2);
    font-size: 1.5rem;
    font-weight: bold;
}

  /* Plats */

#carteContainerPlat h2{
    border-left: 15px solid var(--color5);
}
#carteContainerPlat .carteContainer_topPart{
    border-bottom: 2px dashed var(--color5);
}
#carteContainerPlat h3::first-letter, #carteContainerPlat .fa-plus{
    color : var(--color5);
    font-size: 1.5rem;
    font-weight: bold;
}

  /* Desserts */

#carteContainerDessert h2{
    border-left: 15px solid var(--color4);
}

#carteContainerDessert h3::first-letter, #carteContainerDessert .fa-plus{
    color : var(--color4);
    font-size: 1.5rem;
    font-weight: bold;
}

#carteContainerDessert .carteContainer_topPart{
    border-bottom: 2px dashed var(--color4);
}

.addPlat{
    padding:5px;
    transition: all 0.3s ease-in-out;
}
.addPlat:hover{
    border-radius: 50%;
    background-color: var(--color6);
}


.messageCommandeAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color5);
    color: white;
    padding: 20px;
    margin-bottom: 5vh;
}

.messageCommandeAdd > i {
    color: var(--color6);
    transition: 0.3s;
}

.messageCommandeAdd > i:hover {
    color: white;
    cursor: grab ;
}

.messageCommandeAdd > p {
    margin: 0;
}