:root {
    --color1 : #cda364;
    --color2 : #c45b0c;
    --color3 : #fcf9ec;
    --color4 : #efc34f;
    --color5 : #8baec4;
    --color6 : #053d57;
	
	
  }

  /* NavBar */

  nav {
	margin: auto;
	position: relative;
	width: 100vw;
    min-width: 700px;
	height: 80px;
	background-color: var(--color6);
	font-size: 0;
}

nav a {
	line-height: 80px;
	height: 100%;
	font-size: 1rem;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	justify-content: center;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

#navDroite{
    float: right;
}

nav a:nth-child(1) {
	width: 90px;
}
nav a:nth-child(2) {
	width: 100px;
}
nav a:nth-child(3) {
	width: 120px;
}
nav a:nth-child(4) {
	width: 120px;
}
nav a:nth-child(5) {
	width: 100px;
}
nav a:nth-child(6) {
	width: 180px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 90px;
	left: 0;
	background-color: #ffe134;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 90px;
	background-color: #ffbf2e;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 190px;
	background-color: #ff9e28;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 120px;
	left: 310px;
	background-color: #fe7c22;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 430px;
	background-color: #fe5a1c;
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 180px;
	left: calc(100vw - 180px) ;
	background-color: #ff2306;
}

nav a {
    transition: color 0.4s ease-in;
}
nav a:hover {
    color: var(--color6);
}

/* Body */

body {
    font-family: 'Raleway', sans-serif;
	background-color: var(--color3);
	overflow-x: hidden;
}

/* Footer */

footer{
	margin-top: 10vh;
	color: white;
	padding: 30px 0;
	background-color: var(--color6);
	width: 100vw;
	text-align: center;
	font-size: 1.1rem;
}

#footer_container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 30px;
}

#footer-gauche{
	padding-right: 40px;
	border-right: 3px solid var(--color4);
}

footer a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease-in;
}

footer a:hover {
	color: var(--color4);
}

#copyright{
	margin-top: 30px;
}

#contact{
	font-weight: 700;
}

